**Домашнее задание**

**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [1]:
import pandas as pd

**Задание 1**

In [2]:
%%time
data1 = pd.read_csv('hw/ratings.csv')
data2 = pd.read_csv('hw/movies.csv')
df = data1.merge(data2, on = 'movieId', how='left')
df

CPU times: total: 6.95 s
Wall time: 7.05 s

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,1,306,3.5,1147868817,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama
2,1,307,5.0,1147868828,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
3,1,665,5.0,1147878820,Underground (1995),Comedy|Drama|War
4,1,899,3.5,1147868510,Singin' in the Rain (1952),Comedy|Musical|Romance
...,...,...,...,...,...,...
25000090,162541,50872,4.5,1240953372,Ratatouille (2007),Animation|Children|Drama
25000091,162541,55768,2.5,1240951998,Bee Movie (2007),Animation|Comedy
25000092,162541,56176,2.0,1240950697,Alvin and the Chipmunks (2007),Children|Comedy
25000093,162541,58559,4.0,1240953434,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
25000094,162541,63876,5.0,1240952515,Milk (2008),Drama

In [3]:
df1 = df.drop(columns=['userId', 'timestamp', 'genres'])

In [4]:
top = df1[df1['rating'] == 5.0]['title'].value_counts().head()
print(f'Больше всего оценок 5.0 у фильма: {top.head(1)}')

Больше всего оценок 5.0 у фильма: Shawshank Redemption, The (1994)    39553
Name: title, dtype: int64

In [121]:
#df1[ df1 ['rating'] ==5.0 ]['movieId'].value_counts()
#print(df1.loc[df1['movieId']==318, 'title'].head(1))

79    Shawshank Redemption, The (1994)
Name: title, dtype: object

**Задание 2**

In [39]:
data = pd.read_csv('power.csv')
data.head()
#data [ data ['country'] == 'Lithuania']['quantity'].value_counts().head(1)

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [40]:
df = data[(data['country'] == 'Lithuania') | (data['country'] == 'Estonia') | (data['country'] == 'Latvia')]
df['country'].unique()

array(['Lithuania', 'Latvia', 'Estonia'], dtype=object)

In [41]:
top =df[(df['category']==4) | (df['category']==12) | (df['category'] == 21) & (df['year'] >= 2005) & (df['year']<=2010)]
print("Cуммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года = ", top['quantity'].sum())

Cуммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года =  240907.0

**Задание 3**

In [44]:
data = pd.read_html('https://fortrader.org/quotes')[3]
data

,Название,Цена,Изменение,Изменение(%),Обновлено
0,ВТБ Акции ВТБ,0.016680,-0.000010,-0.059916,NaN
1,Газпром Акции газпрома,163.24,-0.05,-0.03,NaN
2,Лукойл Акции Лукойл,4 111.5,0.0,0.0,NaN
3,Роснефть Акции Роснефти,365.15,-0.05,-0.01,NaN
4,Сбербанк Акции Сбербанка,193.56,-0.03,-0.02,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,22.500,0.000,0.000,NaN
6,Норникель Акции Норникель,14 560,0,0,NaN
7,Аэрофлот Акции Аерофлота,28.45,0.00,0.00,NaN
8,Северсталь Акции Северсталь,1 033.60,0.00,0.00,NaN
9,Транснефть Акции Транснефть,99 100,0,0,NaN
10,Ростелеком Курс акций ростелекома,61.33,0.00,0.00,NaN
11,РУСАЛ Акции РУСАЛ (RUAL),40.030,0.000,0.000,NaN
12,Детский мир iDreamSky Technology Limited,71.34,-0.14,-0.20,NaN
13,Петропавловск Акции Петропавловск,1.21,0.00,0.00,NaN
14,Алроса Акции АЛРОСА (ALRS),60.770,-0.030,-0.049,NaN
15,Магнит Акции Магнит (MGNT),4 504.0,0.0,0.0,NaN
16,НМЛК Акции НЛМК (NLMK),125.100,0.000,0.000,NaN
17,М.видео Акции М.видео (MVID),178.90,0.00,0.00,NaN
18,"Газпром нефть Акции ""Газпром нефть"" (SIBN)",452.75,-0.10,-0.02,NaN
19,НМТП Акции НМТП (NMTP),6.1950,-0.0100,-0.1612,NaN
20,Полиметалл Акции Полиметалл (POLY),546.50,0.00,0.00,NaN
21,Полюс Золото Акции Полюс Золото (PLZL),9 412.5,+0.5,+0.0,NaN
22,НОВАТЭК Акции НОВАТЭК (NVTK),1 074.60,0.00,0.00,NaN
23,РусГидро Акции РусГидро (HYDR),0.7761,-0.0002,-0.0258,NaN
24,Татнефть Акции Татнефть (TATN),347.70,-0.10,-0.03,NaN
25,"АФК Система Акции АФК ""Система"" (AFKS)",13.258,+0.002,+0.015,NaN
26,МТС Акции МТС,248.10,0.00,0.00,NaN
27,Башнефть Акции Башнефть (BANE),1 057.0,-1.0,-0.1,NaN
28,Яндекс Акции Яндекс (YNDX),1 897.2,-0.8,0.0,NaN
29,X5 Retail Group Акции X5 Retail Group (FIVE),1 452.00,0.00,0.00,NaN
30,ФСК ЕЭС Акции ФСК ЕЭС (FEES),0.09028,-0.00006,-0.06642,NaN
31,Мечел Акции Мечел (MTLR),140.98,-0.01,-0.01,NaN
32,МосБиржа Акции МосБиржа (MOEX),112.84,-0.05,-0.04,NaN
33,Интер РАО Акции Интер РАО (IRAO),3.41,0.00,-0.04,NaN
34,"Mail.ru Акции Mail.ru (MAIL, ДР)",0.00,нет данных,нет данных,NaN
35,Киви Акции Киви (QIWI),467.0,0.0,0.0,NaN
36,"Лента Акции Лента (LNTA, ДР)",102.30,0.00,0.00,NaN
37,"Тинькофф Акции Тинькофф (TCSG, др)",2 514.50,0.00,0.00,NaN
38,TGKA.MM,0.008006,-0.000002,-0.024975,NaN
39,Озон Акции Озон (Ozon),1 689.50,-0.50,-0.03,NaN
40,Positive Technologies,1 674.80,-0.20,-0.01,NaN

In [45]:
type(data)

pandas.core.frame.DataFrame